/*form {
  background-color: rgb(5, 4, 59);
  color: white;
  padding: 40px 10%;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  flex: 1;
  margin-top: 20px;
}
form input {
  margin: 10px;
  width: 100%;
}
/*input,
select {
  margin: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}*/
/*#message {
  padding: 10px;
  margin: 0;
}

form input,
form textarea {
  width: 100%;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
} /*
form {
  background-color: #14203e;
  display: inline-block;
  padding: 40px 10%;
}*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/*form {
  background-color: rgb(5, 4, 59);
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
}*/
* {
  box-sizing: border-box;
}
input select,
textarea {
  font-family: "Roboto", sans-serif;
  background-color: rgb(5, 4, 59);

  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 0.9rem;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.form_area {
  display: inline-flex;
}
